
            <div class="content-search">
						<div class="input-box">
								<input type="text" /> 
                                <a><img src="app/img/search.png"></img></a>
						</div>
            </div>
            <div class="box row">
                    <div class="box-header col-md-12">
                            <h4>Compressors</h4>
                            <button class="edit">Edit</button>
                            <label>Compressors Name can be Editable</label>
                            <div class="pull-right title">
                                <a href=""><img src="app/img/todo.png"></img></a>
                                <a href=""><img src="app/img/output.png"></img></a>
                                <a href=""><img src="app/img/print.png"></img></a>
                            </div>
                    </div>
                    <div class="box-content col-md-12">
                            <table class="table  table-bordered table-hover" id="sample_1">
                            <thread>
                                <tr>
                                    <th>1</th>
                                    <th>Case Name</th>
                                    <th>Rack</th>
                                    <th>Suction Group</th>
                                    <th>Manufacturer</th>
                                    <th>Type</th>
                                    <th>Enclosure</th>
                                    <th>Goods Type</th>
                                    <th>Evaporate Design TD</th>
                                    <th>Case Target Temp</th>
                                    <th>Target Superheat</th>
                                    <th>Case Temp</th>
                                    <th>EEPR</th>
                                    <th>Liquid Line Level</th>
                                    <th>Checked-OK?</th>
                                </tr>
                            </thread>
                            <tbody>
                               <tr>
                                    <td>2</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>11</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>12</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>13</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                                <tr>
                                    <td>14</td>
                                    <td>Case1</td>
                                    <td>RackA</td>
                                    <td>Suction Group1</td>
                                    <td><select><option>Heatcraft</option></select></td>
                                    <td><select><option>Coldroom</option></select></td>
                                    <td><select><option>Open</option></select></td>
                                    <td><select><option>Vegetables</option></select></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="text" value="Prefilled"/></td>
                                    <td><input type="text" placeholder="Mapped"/><img src="app/img/edit.png"/></td>
                                    <td><input type="checkbox"/>05/26/2017 1:22 PM<img src="app/img/JD.png"/></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
             </div>
            
            <div class="box row">
                    <div class="box-header col-md-6">
                            <h4>System Log</h4>
                    </div>
                    <div class="box-content col-md-6">
                            <table class="table table-bordered table-hover" id="logTable" >
                            <thead>
                                <th>#</th>
                                <th>Date/Time</th>
                                <th>User</th>
                                <th>Event/Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>99</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>98</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>97</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>96</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>95</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>94</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>93</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>92</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                                <tr>
                                    <td>91</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>Changed Case 12 Manufacturer to "Heatcraft" from "Jill-Phoenix"</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
            </div>
            


        <!-- END PAGE -->


                        </table>