
            <div class="content-search">
						<div class="input-box">
								<input type="text" /> 
                                <a><img src="app/img/search.png"></img></a>
						</div>
            </div>
            <div class="box row">
                    <div class="box-header col-md-12">
                            <h4>Compressors</h4>
                            <button class="edit">Edit</button>
                            <label>Compressors Name can be Editable</label>
                            <div class="pull-right title">
                                <a href=""><img src="app/img/todo.png"></img></a>
                                <a href=""><img src="app/img/output.png"></img></a>
                                <a href=""><img src="app/img/print.png"></img></a>
                            </div>
                    </div>
                    <div class="box-content col-md-9">
                         <table class="table table-bordered table-hover" id="rackTable" >
                            <thread>
                                <tr>
                                    <th>1</th>
                                    <th>Compressor</th>
                                    <th>Compressor1</th>
                                    <th>Compressor2</th>
                                </tr>
                            </thread>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Model</td>
                                    <td><select><option>Scroll_1869</option></select></td>
                                    <td><select><option>Scroll_1869</option></select></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Suction Group</td>
                                    <td><select><option>SG1</option></select></td>
                                    <td><select><option>SG1</option></select></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Discharge Temp Measurement Location</td>
                                    <td><select><option>Header</option></select></td>
                                    <td><select><option>Header</option></select></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Discharge Temperature</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></select> </td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></select></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Control Signal(Pulse or ON/OFF)</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></select></td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a> <select class="unit-select"><option>C</option></select> </td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Power</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></select></td>
                                    
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a> <select class="unit-select"><option>C</option></select> </td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Amps</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></select> </td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td>Suction Temp</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a> <select class="unit-select"><option>C</option></select></td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a><select class="unit-select"><option>C</option></select></td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td>Control Signal(VO or RO)</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a></td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a></td>
                                </tr>
                               <tr>
                                    <td>11</td>
                                    <td>Alarm</td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a> </td>
                                    <td><input type="text" placeholder="Mapped"><a><img src="app/img/edit.png" /></a></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>Checked OK?</td>
                                    <td><input type="checkbox"><span>05/26/2017 1:22 PM</span><a><img src="app/img/JD.png" /></a></td>
                                    <td><input type="checkbox"> <span>05/26/2017 1:35 PM</span><a><img src="app/img/JD.png" /></a></td>
                                </tr>

                            </tbody>

                        </table>    
                    </div>
             </div>
            
            <div class="box row">
                    <div class="box-header col-md-12">
                            <h4>System Log</h4>
                    </div>
                    <div class="box-content col-md-12">
                            <table class="table table-bordered table-hover" id="logTable" >
                            <thead>
                                <th>#</th>
                                <th>Date/Time</th>
                                <th>User</th>
                                <th>Event/Action</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>99</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>changed Row2 Inside Temp To 'xyz' From 'abc'</td>
                                </tr>
                                <tr>
                                    <td>99</td>
                                    <td>05/12/2017</td>
                                    <td>John Doe</td>
                                    <td>changed Row2 Inside Temp To 'xyz' From 'abc'</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
            </div>
            


        <!-- END PAGE -->
