
            <div class="content-search">
						<div class="input-box">
								<input type="text" /> 
                                <a><img src="app/img/search.png"></img></a>
						</div>
            </div>
            
                <div class="box row">
                        <div class="box-header  col-md-12">
                                <h4>Store Profile</h4>
                                <button class="edit">Edit</button>
                                <div class="pull-right title">
                                    <a href=""><img src="app/img/todo.png"></img></a>
                                    <a href=""><img src="app/img/output.png"></img></a>
                                    <a href=""><img src="app/img/print.png"></img></a>
                                </div>
                        </div>
                        <div class="box-content  col-md-6">
                            <table class="table table-bordered table-hover table-edit" >
                                
                                    <tr>
                                        <td>1</th>
                                        <td>Store Unique ID</th>
                                        <td>48</th>
                                    </tr>
                            
                                    <tr>
                                        <td>2</th>
                                        <td>Country</th>
                                        <td>
                                            <select>
                                                <option>USA</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>State</td>
                                        <td>
                                            <select>
                                                <option>New Jersey</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>City</td>
                                        <td>
                                            <select>
                                                <option>Morris Patel</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Altitude Pressure</td>
                                        <td>
                                            <input></input>
                                            <select class="unit-select">
                                                <option>psi</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>Analyst</td>
                                        <td>
                                            <input></input>
                                            <select class="unit-select">
                                                <option>Prashant Patel</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>No. of Racks</td>
                                        <td>
                                            <input></input>
                                            <select class="unit-select">
                                                <option>2</option>
                                            </select>  
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td rowspan="2"></td>
                                        <td>Rack 1 Name</td>
                                        <td>
                                            Rack A 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rack 2 Name</td>
                                        <td>
                                            Rack B 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>Default Units</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>Imperial Units</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td rowspan="9"></td>
                                        <td>Temperature</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>F</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Humidity</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>%</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Flow Rate</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>GPM</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Frequency</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>%</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Cooling Supply</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>tons</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Heating Supply</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>mBTU/h</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Power</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>kW</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Length</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>in</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pressure</td>
                                        <td>
                                            <select class="unit-select">
                                                <option>psig</option>
                                            </select>  
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>Checked OK?</td>
                                        <td>
                                            <input type="checkbox"/>
                                        </td>
                                    </tr>

                            </table>    
                        </div>
                </div>
            
                <div class="box row">
                        <div class="box-header col-md-12">
                                <h4>System Log</h4>
                        </div>
                        <div class="box-content col-md-12">
                                <table class="table table-bordered table-hover table-log" >
                                <thead>
                                    <td>#</td>
                                    <td>Date/Time</td>
                                    <td>User</td>
                                    <td>Event/Action</td>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>99</td>
                                        <td>05/12/2017</td>
                                        <td>John Doe</td>
                                        <td>changed Row2 Inside Temp To 'xyz' From 'abc'</td>
                                    </tr>
                                    <tr>
                                        <td>99</td>
                                        <td>05/12/2017</td>
                                        <td>John Doe</td>
                                        <td>changed Row2 Inside Temp To 'xyz' From 'abc'</td>
                                    </tr>
                                </tbody>

                            </table>
                       
                </div>
            </div>
            


        <!-- END PAGE -->
