
            <div class="content-search">
						<div class="input-box">
								<input type="text" /> 
                                <a><img src="app/img/search.png"></img></a>
						</div>
            </div>
            <div class='row'>
                <div class="box">
                        <div class="box-header  col-md-12">
                                <h4>Store Profile</h4>
                                <button class="edit">Edit</button>
                                <div class="pull-right title">
                                    <a href=""><img src="app/img/todo.png"></img></a>
                                    <a href=""><img src="app/img/output.png"></img></a>
                                    <a href=""><img src="app/img/print.png"></img></a>
                                </div>
                        </div>
                        <div class="box-content  col-md-6">
                            <table class="table table-bordered table-hover" id="rackTable" >
                                    <thread>
                                        <tr>
                                            <th>1</th>
                                            <th>Suction Group</th>
                                            <th>Suction Group 1</th> 
                                            <th>Suction Group 2</th>
                                        </tr>
                                    </thread>
                                    <tbody>
                                        <tr>
                                            <td>2</th>
                                            <td>Name</td>
                                            <td><input type="text"/></td>
                                            <td><input type="text"/></td>
                                        </tr>
                                        <tr>
                                            <td>3</th>
                                            <td>Type</td>
                                            <td><select><option>Low Temperature</option></select></td>
                                            <td><select><option>Low Temperature</option></select></td>
                                        </tr>
                                        <tr>
                                            <th>4</td>
                                            <th>Pressure Control Type</td>
                                            <td><select><option>Fixed</option></select></td>
                                            <td><select><option>Fixed</option></select></td>
                                        </tr>
                                        <tr>
                                            <th>5</td>
                                            <th>Target</td>
                                            <td><input type="text"/><select><option>psi</option></select></td>
                                            <td><input type="text"/><select><option>psi</option></select></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>Allowable Range/Float</td>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>Lower Range</td>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                        </tr>
                                        <tr>
                                            <td>8</td>
                                            <td>Upper Range</td>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                        </tr>
                                        <tr>
                                            <td>9</td>
                                            <td>No. of Compressors</td>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                        </tr>
                                        <tr>
                                            <td>10</td>
                                            <td>No. of Cases</td>
                                            <td><input type="number"/></td>
                                            <td><input type="number"/></td>
                                        </tr>
                                        <tr>
                                            <td>11</td>
                                            <td>Suction Pressure</td>
                                            <td><input type="text" placeholder="Mapped"/><a><img src="app/img/edit.png"></a><select><option>psi</option></select></td>
                                            <td><input type="text" placeholder="Mapped"/><a><img src="app/img/edit.png"></a><select><option>psi</option></select></td>
                                        </tr>
                                        
                                        <tr>
                                            <td>12</td>
                                            <td>Suction Temperature1</td>
                                            <td>
                                                <input type="text" placeholder="Mapped"/>
                                                <a><img src="app/img/edit.png"></a>
                                                <select>
                                                    <option>C</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" placeholder="Mapped"/>
                                                <a><img src="app/img/edit.png"></a>
                                                <select>
                                                    <option>C</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>13</td>
                                            <td>Suction Temperature2</td>
                                            <td>
                                                <input type="text" placeholder="Mapped"/>
                                                <a><img src="app/img/edit.png"></a>
                                                <select>
                                                    <option>C</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" placeholder="Mapped"/>
                                                <a><img src="app/img/edit.png"></a>
                                                <select>
                                                    <option>C</option>
                                                </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>14</td>
                                            <td>Suction Temperature3</td>
                                            <td>
                                                <input type="text" placeholder="Mapped"/>
                                                <a><img src="app/img/edit.png"></a>
                                                <select>
                                                    <option>C</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" placeholder="Mapped"/>
                                                <a><img src="app/img/edit.png"></a>
                                                <select>
                                                    <option>C</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Checked OK?</td>
                                            <td>
                                                <input type="checkbox"/>
                                            </td>
                                            <td>
                                                <input type="checkbox"/>
                                            </td>
                                        </tr>

                                    </tbody>
                            
                                   
                            </table>    
                        </div>
                </div>
            </div>
            <div class='row'>
                <div class="box col-md-8">
                        <div class="box-header">
                                <h4>System Log</h4>
                        </div>
                        <div class="box-content">
                                <table class="table table-bordered table-hover" id="logTable" >
                                <thead>
                                    <th>#</th>
                                    <th>Date/Time</th>
                                    <th>User</th>
                                    <th>Event/Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>99</td>
                                        <td>05/12/2017</td>
                                        <td>John Doe</td>
                                        <td>changed Row2 Inside Temp To 'xyz' From 'abc'</td>
                                    </tr>
                                    <tr>
                                        <td>99</td>
                                        <td>05/12/2017</td>
                                        <td>John Doe</td>
                                        <td>changed Row2 Inside Temp To 'xyz' From 'abc'</td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                </div>
            </div>
            


        <!-- END PAGE -->
