
    <div class="page-sidebar nav-collapse collapse " style="height:100% !important;">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu">
            <!--Chain panel-->
            <ul class='sidebar1 menu' >
                <div class="page-sidevar-toggler">
                    <p class="title">Supermarket Chain</p>
                    <div class="foldMenuButton"><img src="app/img/arrow-left.png"></div>
                </div>
                <li class="cmdBar">
                    <span ng-click="addNewChain()">Add New +</span>
                </li>
                <div slim-scroll style="height:50px">
                    <li>
                        <a href="javascript:;">
                            <span>Food City</span><span class="arrow "></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;"><span>Tesco</span><span class="arrow "></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span>Carrefour</span><span class="arrow "></span></a>
                    </li>
                    <li>
                        <a href="javascript:;"><span>Big Y</span><span class="arrow "></span></a>
                    </li>

                </div>
            </ul>
            <!--Store panel-->
            <ul class="sidebar2 menu">
                <div class="page-sidevar-toggler">
                    <p class="title">Stores</p>
                    <div class="foldMenuButton"><img src="app/img/arrow-left.png"></div>
                </div>
               
                <li class="cmdBar">
                    <span ng-click="addNewStore()">Add New +</span>
                </li>
                <div slim-scroll style="height:80px">
                <li >
                    <a href="javascript:;"><span>Bristol 111</span><span class="arrow "></span></a>
                </li>
                <li >
                    <a href="javascript:;"><span>Bristol 114</span><span class="arrow "></span></a>
                </li>
                <li >
                    <a href="javascript:;"><span>Knoxville 56</span><span class="arrow "></span></a>
                </li>
                </div>
            </ul>
            <!--detail panel-->
            <ul class="sidebar3 menu">
                <div class="page-sidevar-toggler">
                    <p class="title">Store Details </p>
                    <div class="foldMenuButton"><img src="app/img/arrow-left.png"></div>
                </div>
                <li><a href='index.html#!/storeProfile'>Store Profile</a></li>
                <li class="submenu_head collapsed" data-toggle="collapse" data-target="#rackAMenu">
                    <a href='index.html#!/rack'><i style="font-size:12px;" class="glyphicon glyphicon-plus"></i><span style="width:150px;display:inline-block;">RackA</span><span>(2)</span></a>
                </li>
                <li>
                    <ul id="rackAMenu" class="menu subMenu collapse">
                        <li><a href='index.html#!/suctionGroup'><span>Suction Groups</span><span>(2)</span></a></li>
                        <li><a href='index.html#!/compressor'><span>Compressors</span><span>(2)</span></a></li>
                        <li><a href='index.html#!/condensor'><span>Condensors</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Heat Reclaim</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Liquid Level</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Sub Cooler</span><span>(2)</span></a></li>
                        <li><a href='index.html#!/case'><span>Cases</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Defrost Schedule</span><span>(2)</span></a></li>
                    </ul>
                </li>
                <li class="submenu_head collapsed" data-toggle="collapse" data-target="#rackBMenu">
                    <a href='/index.html#!/rack'><i style="font-size:12px;" class="glyphicon glyphicon-plus"></i><span style="width:150px;display:inline-block;">RackB</span><span>(2)</span></a>

                </li>
                <li>
                    <ul id="rackBMenu" class="menu subMenu collapse">
                        <li><a href='#'><span>Suction Groups</span><span>(2)</span></a></li>
                        <li><a href='index.html#!/compressor'><span>Compressors</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Heat Reclaim</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Liquid Level</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Sub Cooler</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Cases</span><span>(2)</span></a></li>
                        <li><a href='#'><span>Defrost Schedule</span><span>(2)</span></a></li>
                    </ul>
                </li>
                <li class="layout"><a href='#'>layout</a></li>
                <li class="dataImport"><a href='#'>Data Import</a></li>
            </ul>
        </ul>
       
        <!-- END SIDEBAR MENU -->
    </div>


